*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 28% 56% 17%;
    background-color: #ededed;
} 
.left-top-left{
    /*background-color: crimson;*/

}

.left-top-right{
    /* background-color: goldenrod */
    font-size: medium;
    text-align: right;
    padding: 22px;
    font-family: Arial, Helvetica, sans-serif;
    
}    
.left-top-right h4{
    
    margin-bottom: 42px;
    font-size: 15px; 
    font-weight: 500;
}
.left-top-right h5{
    /* background-color: red; */
    font-size: 15px; 
    
    font-weight: 500;
    color: #333;
}

.left-centre{
    /*background-color: royalblue;*/
    grid-column: 1/3;
    padding: 30px;
    
}
.left-centre h1{
    font-size:6vw;
    text-transform: uppercase;
    line-height: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.left-centre h1:nth-child(2n) {
    text-align: center;
}


.left-bottom{
   /* background-color: chartreuse;*/
    grid-column: 1/3;
    grid-row: 3;
    padding: 33px;
    font-family: Arial, Helvetica, sans-serif
}

.left-bottom p{
    width: 70px;
    margin-bottom: 30px;
}
.square{
    height: 20px; 
    width: 20px;
    background-color: black;
    margin: 20px;
    rotate: 45deg;
}
.right {
    /*background-color: blueviolet;*/
    grid-column: 3;
    grid-row: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    padding: 22px;
    padding-right: 100px;
}

.right video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: orangered;
    border-radius: 50%;
}
.arrow i{
    color: white;
    font-size: 30px;
    font-weight: 100px

}
@media (max-width:600px) {
    main{
       
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 38% 11% 40% 50%;
        background-color: #ededed;
    } 
    .right {
        /*background-color: blueviolet;*/
        grid-column: 1/3;
        grid-row: 4/6;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 40px;
        padding-right: 20px;
        margin-top: 28px;
        margin-left: -20px;
        margin-bottom: 10px;
    }
    .right video {
        width: 100%;
        height: 99vh; /* Ensure it takes full height */
        object-fit: contain;
    }
    .left-top-left{
        /*background-color: crimson;*/
        padding: 15px;
    
    }
    
    .left-top-right{
        /* background-color: goldenrod */
        font-size: medium;
        text-align: right;
        padding: 22px;
        font-family: Arial, Helvetica, sans-serif;
        
    }    
    .left-top-right h4{
        display: none;
        
    }
    .left-top-right h5{
        display: none;
    }
    
    .left-centre{
        
        grid-column: 1/3;
        padding: 20px;
        
    }
    .left-centre h1{
        font-size:16vw;
        text-transform: uppercase;
        line-height: 14vw;
        
    }
    .left-centre h1:nth-child(2n) {
        text-align: center;
    }
    
    
    .left-bottom{
       /* background-color: chartreuse;*/
       grid-column: 1/3;
        grid-row: 3;
        padding: 33px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .left-bottom p{
        width: 70px;
        margin-bottom: 30px;
       
    }
    .square{
        height: 20px; 
        width: 20px;
        background-color: black;
        margin: 20px;
        rotate: 45deg;
    }
    
    
    .arrow{
        position: absolute;
        top: 48%;
        left: 52%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-color: orangered;
        border-radius: 50%;
    }
    .arrow i{
        color: white;
        font-size: 15px;
        font-weight: 100px;
        rotate: 90deg;
    }
}